<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastReport.Compat" version="2022.3.2" targetFramework="net48" />
  <package id="FastReport.OpenSource" version="2022.3.15" targetFramework="net48" />
  <package id="FastReport.ReportBuilder" version="2021.1.0" targetFramework="net48" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net48" />
  <package id="MvcReportViewer" version="0.8.3" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.1.0" targetFramework="net48" />
</packages>